<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body >

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    Arquitetura para softwares automotivos
                </p:layoutUnit>

                <p:layoutUnit position="south" size="50" closable="true" collapsible="true">
               Desenvolvimento de software para web semântica
                </p:layoutUnit>

                <!--<p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                    <p:menu>
                        <p:submenu label="Resources">
                            <p:menuitem value="Demo" url="http://www.primefaces.org/showcase-labs/ui/home.jsf" />
                            <p:menuitem value="Documentation" url="http://www.primefaces.org/documentation.html" />
                            <p:menuitem value="Forum" url="http://forum.primefaces.org/" />
                            <p:menuitem value="Themes" url="http://www.primefaces.org/themes.html" />

                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>-->

                <p:layoutUnit position="center">
                   <h3>Ontologia</h3>
                   <p:tabView value="#{BeanIndividuos.ontoIndividuos}" var="individuos">
                       <p:tab title="Software - #{individuos.label}">
                <h:panelGrid columns="2" cellpadding="5">
 
                <h:outputText value="#{individuos.getObjectProperty().get(0).getLabel()} - " style="font-weight: bold"/>
                <h:outputText value="#{individuos.getObjectProperty().get(0).getValues().get(0).getLabel()}" />
           
                <h:outputText value="#{individuos.getObjectProperty().get(0).getValues().get(0).getObjectProperty().get(0).getLabel()} - " style="font-weight: bold"/>
                <h:outputText value="#{individuos.getObjectProperty().get(0).getValues().get(0).getObjectProperty().get(0).getValues().get(0).getLabel()}" />
                <h:outputText value="#{individuos.getObjectProperty().get(0).getValues().get(0).getObjectProperty().get(2).getLabel()} - " style="font-weight: bold"/>
                <h:outputText value="#{individuos.getObjectProperty().get(0).getValues().get(0).getObjectProperty().get(2).getValues().get(0).getLabel()}" />
                                                  
            </h:panelGrid>
        </p:tab>
    </p:tabView>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

